[Unit]
   Description= Memory monitor
   After=network.target network-online.target
   Wants=network-online.target
[Service]
   ExecStart=/var/monitor/memory_monitor.py
   WorkingDirectory=/var/monitor
   StandardOutput=null
   Restart=on-failure
   RestartSec= 120
   KillMode=control-group

 
[Install]
   WantedBy=multi-user.target
   Alias=memory_monitor.service
